### Introduction

This project performs an analysis on data obtained from a supermarket chain in Myanmar. A better understanding of their customer base, such as the peak period for sales or the product with the highest sales volume, can lead to increased efficiencies and reduced costs.

Examples of the data within the dataset are the ratings of the transactions, the gender of the customer, and the category that the products belonged to.

The dataset was obtained from Kaggle:

https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import plotly.express as px
import plotly.subplots as sp
import plotly.graph_objects as go
import warnings
import pygwalker as pyg
import sqlite3
#import sqlalchemy
#from sqlalchemy import create_engine
from sqlalchemy.dialects import sqlite
from pandas.io import sql
import subprocess
import re


warnings.filterwarnings('ignore')

The dataset is in the **CSV** (Comma Seperated Value) format, and will be imported into an **SQLite** database, where it will be preprocessed.

In [2]:
df=pd.read_csv('supermarket.csv')
conn=sqlite3.connect('supermarket.db')
df.to_sql(name='supermarket', con=conn, if_exists='replace', index=False)
conn.commit()

In [3]:
%config SqlMagic.displaylimit = 15

In [4]:
%load_ext sql
%sql sqlite:///supermarket.db

We shall check to make sure that the CSV file has been imported correctly into the SQLite database and that we have managed to successfully connect to it.

In [5]:
%sql select * from supermarket limit 1

Running query in 'sqlite:///supermarket.db'

+-------------+--------+--------+---------------+--------+-------------------+------------+----------+---------+----------+----------+-------+---------+--------+-------------------------+--------------+--------+
|  Invoice ID | Branch |  City  | Customer type | Gender |    Product line   | Unit price | Quantity |  Tax 5% |  Total   |   Date   |  Time | Payment |  cogs  | gross margin percentage | gross income | Rating |
+-------------+--------+--------+---------------+--------+-------------------+------------+----------+---------+----------+----------+-------+---------+--------+-------------------------+--------------+--------+
| 750-67-8428 |   A    | Yangon |     Member    | Female | Health and beauty |   74.69    |    7     | 26.1415 | 548.9715 | 1/5/2019 | 13:08 | Ewallet | 522.83 |       4.761904762       |   26.1415    |  9.1   |
+-------------+--------+--------+---------------+--------+-------------------+------------+----------+---------+----------+----------+-------+---------+--------+-------------------------+--------------+--------+

Next, we shall check to see if there are any duplicate entries. We will be running the check with the invoice ID of the product.

In [6]:
%%sql
SELECT "Invoice ID", COUNT("Invoice ID") AS id_count, SUM(COUNT("Invoice ID")) OVER() AS total_count
FROM supermarket GROUP BY "Invoice ID" having count("Invoice ID")>1

Running query in 'sqlite:///supermarket.db'

+------------+----------+-------------+
| Invoice ID | id_count | total_count |
+------------+----------+-------------+
+------------+----------+-------------+

It seems that there are no duplicated entries.

In [7]:
#The code that has been commented out can be used to remove duplicated entries

#%%sql

#DELETE FROM supermarket 
#WHERE rowid > (
#  SELECT MIN(rowid) FROM supermarket s  
#  WHERE s."Invoice ID" = supermarket."Invoice ID"
#);

We will also check for null values in the dataset.

In [8]:
%%sql
SELECT *
FROM supermarket
WHERE ("Invoice ID" or "City" or "Customer type" or "Gender" or "Product line" or "Unit price" or "Quantity" or "Total" or "Date" or "Time" or "Payment" or cogs or "gross margin percentage" or "gross income" or Rating) IS NULL

Running query in 'sqlite:///supermarket.db'

+------------+--------+------+---------------+--------+--------------+------------+----------+--------+-------+------+------+---------+------+-------------------------+--------------+--------+
| Invoice ID | Branch | City | Customer type | Gender | Product line | Unit price | Quantity | Tax 5% | Total | Date | Time | Payment | cogs | gross margin percentage | gross income | Rating |
+------------+--------+------+---------------+--------+--------------+------------+----------+--------+-------+------+------+---------+------+-------------------------+--------------+--------+
+------------+--------+------+---------------+--------+--------------+------------+----------+--------+-------+------+------+---------+------+-------------------------+--------------+--------+

There are no null values in the table.

Finally, we will import the pre-processed SQLite table into Pandas for the Exploratory Data Analysis (EDA)

In [9]:
df = pd.read_sql_query("SELECT * FROM supermarket", conn)
conn.commit()
conn.close()


Let's do a quick check of the dataframe before creating some new columns for some metrics that will be useful for the EDA.

In [10]:
df.describe(include='all')

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
count,1000,1000,1000,1000,1000,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000,1000,1000,1000.00000,1.000000e+03,1000.000000,1000.00000
unique,1000,3,3,2,2,6,NaN,NaN,NaN,NaN,89,506,3,NaN,NaN,NaN,NaN
top,750-67-8428,A,Yangon,Member,Female,Fashion accessories,NaN,NaN,NaN,NaN,2/7/2019,19:48,Ewallet,NaN,NaN,NaN,NaN
freq,1,340,340,501,501,178,NaN,NaN,NaN,NaN,20,7,345,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,55.672130,5.510000,15.379369,322.966749,NaN,NaN,NaN,307.58738,4.761905e+00,15.379369,6.97270
std,NaN,NaN,NaN,NaN,NaN,NaN,26.494628,2.923431,11.708825,245.885335,NaN,NaN,NaN,234.17651,6.131498e-14,11.708825,1.71858
min,NaN,NaN,NaN,NaN,NaN,NaN,10.080000,1.000000,0.508500,10.678500,NaN,NaN,NaN,10.17000,4.761905e+00,0.508500,4.00000
25%,NaN,NaN,NaN,NaN,NaN,NaN,32.875000,3.000000,5.924875,124.422375,NaN,NaN,NaN,118.49750,4.761905e+00,5.924875,5.50000
50%,NaN,NaN,NaN,NaN,NaN,NaN,55.230000,5.000000,12.088000,253.848000,NaN,NaN,NaN,241.76000,4.761905e+00,12.088000,7.00000
75%,NaN,NaN,NaN,NaN,NaN,NaN,77.935000,8.000000,22.445250,471.350250,NaN,NaN,NaN,448.90500,4.761905e+00,22.445250,8.50000
max,NaN,NaN,NaN,NaN,NaN,NaN,99.960000,10.000000,49.650000,1042.650000,NaN,NaN,NaN,993.00000,4.761905e+00,49.650000,10.00000

Now we will drop the branch column, as an inspection of the raw dataset revealed that each branch is in a different city, and the name of the city will be more informative than the letter representing the branch.

In [11]:
df.drop(inplace=True, axis=1, columns='Branch')
df.describe(include='all')

,Invoice ID,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
count,1000,1000,1000,1000,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000,1000,1000,1000.00000,1.000000e+03,1000.000000,1000.00000
unique,1000,3,2,2,6,NaN,NaN,NaN,NaN,89,506,3,NaN,NaN,NaN,NaN
top,750-67-8428,Yangon,Member,Female,Fashion accessories,NaN,NaN,NaN,NaN,2/7/2019,19:48,Ewallet,NaN,NaN,NaN,NaN
freq,1,340,501,501,178,NaN,NaN,NaN,NaN,20,7,345,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,55.672130,5.510000,15.379369,322.966749,NaN,NaN,NaN,307.58738,4.761905e+00,15.379369,6.97270
std,NaN,NaN,NaN,NaN,NaN,26.494628,2.923431,11.708825,245.885335,NaN,NaN,NaN,234.17651,6.131498e-14,11.708825,1.71858
min,NaN,NaN,NaN,NaN,NaN,10.080000,1.000000,0.508500,10.678500,NaN,NaN,NaN,10.17000,4.761905e+00,0.508500,4.00000
25%,NaN,NaN,NaN,NaN,NaN,32.875000,3.000000,5.924875,124.422375,NaN,NaN,NaN,118.49750,4.761905e+00,5.924875,5.50000
50%,NaN,NaN,NaN,NaN,NaN,55.230000,5.000000,12.088000,253.848000,NaN,NaN,NaN,241.76000,4.761905e+00,12.088000,7.00000
75%,NaN,NaN,NaN,NaN,NaN,77.935000,8.000000,22.445250,471.350250,NaN,NaN,NaN,448.90500,4.761905e+00,22.445250,8.50000
max,NaN,NaN,NaN,NaN,NaN,99.960000,10.000000,49.650000,1042.650000,NaN,NaN,NaN,993.00000,4.761905e+00,49.650000,10.00000

By looking at the dataframe, it seems that we need to do some feature engineering. For example, the Cost of Goods Sold (cogs) is the total ost of goods sold. By calculating the unit cost of goods sold, it makes it possible to compare between transactions with different quantity of goods sold.

In [12]:
df.head()

,Invoice ID,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [13]:
for i in df:
    df['ucogs']=(df['cogs']/df['Quantity'])
    df['unit gross income'] = (df['gross income']/df['Quantity'])
df.Time.dtypes

dtype('O')

In [14]:
df['Time']=df['Time'].str.replace(':','.')
df['Time'].astype(str).dtypes
#df.head()

dtype('O')

In [15]:
df['hour']=df['Time'].str.split('.', expand=True)[0]
df['minutes']=df['Time'].str.split('.', expand=True)[1]
df.head()

,Invoice ID,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,ucogs,unit gross income,hour,minutes
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13.08,Ewallet,522.83,4.761905,26.1415,9.1,74.69,3.7345,13,08
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10.29,Cash,76.40,4.761905,3.8200,9.6,15.28,0.7640,10,29
2,631-41-3108,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13.23,Credit card,324.31,4.761905,16.2155,7.4,46.33,2.3165,13,23
3,123-19-1176,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20.33,Ewallet,465.76,4.761905,23.2880,8.4,58.22,2.9110,20,33
4,373-73-7910,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10.37,Ewallet,604.17,4.761905,30.2085,5.3,86.31,4.3155,10,37

In [16]:
df['month']=df['Date'].str.split('/',expand=True)[0]
df.head()

,Invoice ID,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,...,Payment,cogs,gross margin percentage,gross income,Rating,ucogs,unit gross income,hour,minutes,month
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,...,Ewallet,522.83,4.761905,26.1415,9.1,74.69,3.7345,13,08,1
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,...,Cash,76.40,4.761905,3.8200,9.6,15.28,0.7640,10,29,3
2,631-41-3108,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,...,Credit card,324.31,4.761905,16.2155,7.4,46.33,2.3165,13,23,3
3,123-19-1176,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,...,Ewallet,465.76,4.761905,23.2880,8.4,58.22,2.9110,20,33,1
4,373-73-7910,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,...,Ewallet,604.17,4.761905,30.2085,5.3,86.31,4.3155,10,37,2

We are ready to start the EDA. For the EDA, we shall use PyGWalker, a high level data visualization tool as it is faster than using Seaborn or Plotly.

In [17]:
walker=pyg.walk(df)

Box(children=(HTML(value='<div id="ifr-pyg-0" style="height: auto">\n    <head>\n        <meta http-equiv="Con…

In [18]:
df.head(20)

,Invoice ID,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,...,Payment,cogs,gross margin percentage,gross income,Rating,ucogs,unit gross income,hour,minutes,month
0,750-67-8428,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,...,Ewallet,522.83,4.761905,26.1415,9.1,74.69,3.7345,13,08,1
1,226-31-3081,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,...,Cash,76.40,4.761905,3.8200,9.6,15.28,0.7640,10,29,3
2,631-41-3108,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,...,Credit card,324.31,4.761905,16.2155,7.4,46.33,2.3165,13,23,3
3,123-19-1176,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,...,Ewallet,465.76,4.761905,23.2880,8.4,58.22,2.9110,20,33,1
4,373-73-7910,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,...,Ewallet,604.17,4.761905,30.2085,5.3,86.31,4.3155,10,37,2
5,699-14-3026,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,...,Ewallet,597.73,4.761905,29.8865,4.1,85.39,4.2695,18,30,3
6,355-53-5943,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,...,Ewallet,413.04,4.761905,20.6520,5.8,68.84,3.4420,14,36,2
7,315-22-5665,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,...,Ewallet,735.60,4.761905,36.7800,8.0,73.56,3.6780,11,38,2
8,665-32-9167,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,...,Credit card,72.52,4.761905,3.6260,7.2,36.26,1.8130,17,15,1
9,692-92-5582,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2/20/2019,...,Credit card,164.52,4.761905,8.2260,5.9,54.84,2.7420,13,27,2
10,351-62-0822,Mandalay,Member,Female,Fashion accessories,14.48,4,2.8960,60.8160,2/6/2019,...,Ewallet,57.92,4.761905,2.8960,4.5,14.48,0.7240,18,07,2
11,529-56-3974,Mandalay,Member,Male,Electronic accessories,25.51,4,5.1020,107.1420,3/9/2019,...,Cash,102.04,4.761905,5.1020,6.8,25.51,1.2755,17,03,3
12,365-64-0515,Yangon,Normal,Female,Electronic accessories,46.95,5,11.7375,246.4875,2/12/2019,...,Ewallet,234.75,4.761905,11.7375,7.1,46.95,2.3475,10,25,2
13,252-56-2699,Yangon,Normal,Male,Food and beverages,43.19,10,21.5950,453.4950,2/7/2019,...,Ewallet,431.90,4.761905,21.5950,8.2,43.19,2.1595,16,48,2
14,829-34-3910,Yangon,Normal,Female,Health and beauty,71.38,10,35.6900,749.4900,3/29/2019,...,Cash,713.80,4.761905,35.6900,5.7,71.38,3.5690,19,21,3
15,299-46-1805,Mandalay,Member,Female,Sports and travel,93.72,6,28.1160,590.4360,1/15/2019,...,Cash,562.32,4.761905,28.1160,4.5,93.72,4.6860,16,19,1
16,656-95-9349,Yangon,Member,Female,Health and beauty,68.93,7,24.1255,506.6355,3/11/2019,...,Credit card,482.51,4.761905,24.1255,4.6,68.93,3.4465,11,03,3
17,765-26-6951,Yangon,Normal,Male,Sports and travel,72.61,6,21.7830,457.4430,1/1/2019,...,Credit card,435.66,4.761905,21.7830,6.9,72.61,3.6305,10,39,1
18,329-62-1586,Yangon,Normal,Male,Food and beverages,54.67,3,8.2005,172.2105,1/21/2019,...,Credit card,164.01,4.761905,8.2005,8.6,54.67,2.7335,18,00,1
19,319-50-3348,Mandalay,Normal,Female,Home and lifestyle,40.30,2,4.0300,84.6300,3/11/2019,...,Ewallet,80.60,4.761905,4.0300,4.4,40.30,2.0150,15,30,3

In [19]:
df.describe(include='all')

,Invoice ID,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,...,Payment,cogs,gross margin percentage,gross income,Rating,ucogs,unit gross income,hour,minutes,month
count,1000,1000,1000,1000,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000,...,1000,1000.00000,1.000000e+03,1000.000000,1000.00000,1000.000000,1000.000000,1000,1000,1000
unique,1000,3,2,2,6,NaN,NaN,NaN,NaN,89,...,3,NaN,NaN,NaN,NaN,NaN,NaN,11,60,3
top,750-67-8428,Yangon,Member,Female,Fashion accessories,NaN,NaN,NaN,NaN,2/7/2019,...,Ewallet,NaN,NaN,NaN,NaN,NaN,NaN,19,36,1
freq,1,340,501,501,178,NaN,NaN,NaN,NaN,20,...,345,NaN,NaN,NaN,NaN,NaN,NaN,113,27,352
mean,NaN,NaN,NaN,NaN,NaN,55.672130,5.510000,15.379369,322.966749,NaN,...,NaN,307.58738,4.761905e+00,15.379369,6.97270,55.672130,2.783606,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,26.494628,2.923431,11.708825,245.885335,NaN,...,NaN,234.17651,6.131498e-14,11.708825,1.71858,26.494628,1.324731,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,10.080000,1.000000,0.508500,10.678500,NaN,...,NaN,10.17000,4.761905e+00,0.508500,4.00000,10.080000,0.504000,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,32.875000,3.000000,5.924875,124.422375,NaN,...,NaN,118.49750,4.761905e+00,5.924875,5.50000,32.875000,1.643750,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,55.230000,5.000000,12.088000,253.848000,NaN,...,NaN,241.76000,4.761905e+00,12.088000,7.00000,55.230000,2.761500,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,77.935000,8.000000,22.445250,471.350250,NaN,...,NaN,448.90500,4.761905e+00,22.445250,8.50000,77.935000,3.896750,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,99.960000,10.000000,49.650000,1042.650000,NaN,...,NaN,993.00000,4.761905e+00,49.650000,10.00000,99.960000,4.998000,NaN,NaN,NaN